/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #2b2c2f;
  --gallery: #e4e1f7;
  --background: #f0f5ff;
  --white: #e8f0ff;
  --border: #2b2c2f;
  --shadow: ;
}

body {
  font-weight: 900;
  color: var(--white);
  width: 100vw;
  height: 100vh;
  background: var(--background);
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: var(--black);
  font-size: 0.75rem;
  align-self: center;
}

.wrap {
  display: grid;
  width: 100%;
  height: 100%;
  background-image: var(--background);
}

/* ------- HEADER SECTION ------- */
.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 22vh;
  position: fixed;
  background: var(--background);
}

/* ----- SERARCHBAR ------ */

.search-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* button icon */
.search-button i {
  font-size: 2rem;
  color: var(--black);
}

/* Seach input field */
.input-section {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  height: 3rem;
  border: none;
  box-shadow: none;
  background: var(--background);
  border-bottom: 2px solid var(--border);
}

.search-input {
  display: flex;
  background: transparent;
  border: none;
  color: var(--black);
  width: 100%;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: "Lato";
  padding-left: 0.75rem;
}

.search-input::placeholder {
  padding-left: 1rem;
  font-size: 1rem;
  color: var(--black);
  font-weight: 300;
}

input[type="search"] {
  background: transparent;
  border: 0px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:-internal-autofill-selected {
  background: transparent !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

/* X-reset */
.reset-icon {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--black);
  font-size: large;
}

/* Remove original search X */
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Remove outerline while focused */
.search-button[type="submit"]:focus,
.search-input:focus,
.filter-icon:focus,
.reset-icon:focus,
#number-of-images:focus,
.settings-dropdowns:focus,
.image-size:focus,
option:focus,
.mobile:focus,
.desktop:focus {
  outline: none;
}

/* ----- SEARCHBAR END ----- */

/*  ------- ADVANCED FILTER ------ */

.advanced-settings {
  display: flex;
  flex-direction: row-reverse;
  margin: 0.25rem;
}

.style-list {
  display: grid;
  grid-template-columns: 40px 40px;
  grid-template-rows: 40px 40px;
}

#red {
  background-color: #ff2000;
}
#orange {
  background-color: #ff7c00;
}
#pale-pink {
  background-color: #ff9f9c;
}
#lemon-yellow {
  background-color: #fffa00;
}
#bus-yellow {
  background-color: #ffcf00;
}
#green {
  background-color: #90e200;
}
#dark-green {
  background-color: #00ab00;
}
#cyan {
  background-color: #00b2d4;
}
#blue {
  background-color: #0062c6;
}
#violet {
  background-color: #8c20ba;
}
#pink {
  background-color: #f52394;
}
#white {
  background-color: #ffffff;
}
#grey {
  background-color: #7c7c7c;
}
#black {
  background-color: #000000;
}

.style-button {
  border: 2px solid var(--white);
  width: 40px;
  height: 40px;
}

#black-and-white {
  background-image: url(../img/blackandwhite.jpg);
  background-size: cover;
}

#depth-of-field {
  background-image: url(../img/shallowdepth.jpg);
  background-size: cover;
}
#minimalist {
  background-image: url(../img/minimalism.jpg);
  background-size: cover;
}
#patterns {
  background-image: url(../img/pattern.jpg);
  background-size: cover;
}

/* options only for desktop mode */
.desktop {
  display: none;
}
/* --------COLOR CHECKBOXES-------- */

.color-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.color {
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
}

/* ----- SETTINGS START ----- */

.page-settings {
  display: flex;
  padding: 0 0.5rem;
  height: 3em;
  background: var(--background);
  letter-spacing: 1px;
  border-bottom: 2px solid var(--black);
  z-index: 2;
  justify-content: space-between;
}

.image-size {
  background: var(--background);
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: var(--black);
  font-size: 1rem;
  -webkit-appearance: none;
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 0.9rem;
  padding-right: 1.5rem;
  padding-bottom: 0.4rem;
}

.images-per-page {
  background: var(--background);
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: var(--black);
  font-size: 1rem;
  -webkit-appearance: none;
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 0.9rem;
  padding-right: 1.5rem;
  padding-bottom: 0.4rem;
}

.page-section {
  display: flex;
  width: 5rem;
  justify-content: space-evenly;
  align-items: center;
}
.page-section i {
  font-size: 1.5rem;
  color: var(--black);
}

#page-number {
  font-size: 1rem;
  font-weight: bolder;
}

/* --------------------- HEADER END -------------------- */

/* --------------------- GALLLERY --------------------- */

.gallery {
  width: 100%;
  height: 70vh;
  margin-top: 25vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: scroll;
}

/* each div for each url */
.img-container {
  margin: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.gallery-img {
  width: 100%;
  object-fit: contain;
}

.gallery-img:hover {
  transform: scale(1.5);
}

/* --------------------- PAGES ------------------- */
.api-pages {
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2.5rem;
  bottom: 0;
  position: fixed;
}

.page-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-self: center;
  width: 10rem;
  border-top: 1px solid var(--white);
  cursor: pointer;
}

.page {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 8px;
}
.page:hover {
  transform: scale(1.3);
  color: var(--grey);
}

/*-------------------- LIGHTBOX -------------------- */

.overlay {
  display: none;
  position: fixed;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.548);
  justify-content: center;
}

.lightbox-close {
  z-index: 3;
  position: absolute;
  display: flex;
  color: var(--white);
  opacity: 0.9;
  font-size: 2rem;
  align-self: flex-end;
  height: 90%;
  width: 15%;
}

.lightbox-img {
  z-index: 2;
  align-self: center;
  max-width: 350px;
  height: auto;
  object-fit: cover;
  position: fixed;
  background-image: url(../img/x.png);
  background-attachment: fixed;
  background-position: top;
}
