/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #1c1c1c;
  --white: #ffffff;
  --background: #46445f;
  --border: #f2f4f4;
  --header: #ce7d97;
  --shadow: ;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: var(--white);
  width: 100vw;
  background-color: var(--background);
}

.wrap {
  display: grid;
  width: 100vw;
  background: var(--background);
}

/* ------- HERO SECTION ------- */
.header-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 50vh;
  background-image: linear-gradient(
      to bottom,
      rgb(255, 255, 255),
      rgba(50, 46, 107, 0.445)
    ),
    url("../img/sky.desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2.5rem;
}

.header h1 {
  color: var(--header);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}

/* ----- SERARCHBAR ------ */
.search-section {
  display: flex;
  width: 80%;
  height: 2.5rem;
  margin: 2.5rem 0;
}
/* --- BUTTON --- */
.search-button {
  background: transparent;
  border: none;
  align-self: flex-end;
  padding-right: 5px;
  cursor: pointer;
}

/* button icon */
.search-button i {
  padding-right: 0.5rem;
  font-size: 1.35rem;
  color: var(--white);
}

/* Seach input field */
.input-section {
  display: flex;
  align-items: flex-end;
  width: 20rem;
  height: 2.5rem;
  border-bottom: 2px solid var(--white);
  box-shadow: none;
}

.search-input {
  display: flex;
  background: transparent;
  border: none;
  color: var(--white);
  width: 100%;
  font-size: 0.7rem;
  letter-spacing: 3px;
  font-weight: 300;
  font-family: "Lato";
  text-transform: uppercase;
  padding-bottom: 0.25rem;
}
.search-input::placeholder {
  margin-left: 2.5px;
  font-size: 0.8rem;
}

input[type="search"] {
  background: transparent;
  border: 0px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:-internal-autofill-selected {
  background: transparent !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

/* Remove original search X, hard to style. */
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Remove outerline while focused */
.search-button[type="submit"]:focus {
  outline: none;
}
.search-input:focus {
  background: none;
  outline: none;
}

/* X-close */
.close-icon {
  display: flex;
  border: 1px solid transparent;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  color: var(--white);
  bottom: 0;
  padding-bottom: 5px;
}

/* ---- FILTERS SECTION ----- */
.filter-icon {
  display: flex;
  align-items: center;
  margin-top: -1.5rem;
  border: none;
  background: none;
  font-size: 0.8rem;
  color: var(--black);
  opacity: 0.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

.filter-icon i {
  margin-left: 0.6rem;
  font-size: 1rem;
  color: var(--black);
  opacity: 0.8;
}
.filter-container {
  display: block;
}

/* Filter bar */

.filter {
  display: flex;
}

.filters .desktop {
  display: none;
}

/* FILTER PATTERNS */
/*
base URL: "https://www.flickr.com/search/?text=style%20filter&group_id=51035612836%40N01&styles=pattern"
        "https://www.flickr.com/search/?text=style%20filter&group_id=51035612836%40N01&styles=pattern"

/* --------------------- HERO END -------------------- */

/*-------------------- LIGHTBOX -------------------- */

.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  justify-content: center;
  align-content: center;
}

.lightbox-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 2px solid var(--border);
}

/* --------------------- GALLLERY ------------------- */
.flex-wrap {
  width: 100vw;
  height: 200px;
}

/* Prevent vertical gaps */
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* each div for each url */
.img-container {
  margin: 1rem 0;
}

.gallery-img {
  width: 100%;
  object-fit: contain;
}
