/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #2b2c2f;
  --gallery: #fff6f1;
  --background: #fff6f1;
  --border: #131313;
  --header: #fff6f1;
  --white: #e8f0ff;
  --select: #fff6f1;
  --shadow: ;
}

body {
  color: var(--white);
  max-width: 100vw;
  height: 100vh;
  background: var(--background);
}

:any-link {
  color: var(--black);
}

.wrap {
  background: var(--background);
}

/* ------- HEADER SECTION ------- */
.header-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: var(--header);
}

/* ----- SERARCHBAR ------ */

.search-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* button icon */
.search-button i {
  font-size: 2rem;
  color: var(--black);
}
.search-button i:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

/* Seach input field */
.input-section {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  height: 3rem;
  border: none;
  box-shadow: none;
  background: var(--header);
  -webkit-box-shadow: 0px 10px 8px -6px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 10px 8px -6px rgba(189, 189, 189, 1);
  box-shadow: 0px 10px 8px -6px rgba(189, 189, 189, 1);
}

.search-input {
  display: flex;
  background: transparent;
  border: none;
  color: var(--black);
  width: 100%;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: "Lato";
  padding-left: 0.75rem;
}

.search-input::placeholder {
  padding-left: 1rem;
  font-size: 1.25rem;
  color: var(--black);
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

input[type="search"] {
  background: transparent;
  border: 0px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:-internal-autofill-selected {
  background: transparent !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

/* X-reset */
.reset-icon {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--black);
  font-size: large;
}

.reset-icon:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

/* Remove original search X */
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Remove outerline while focused */
.search-button[type="submit"]:focus,
.search-input:focus,
.filter-icon:focus,
.reset-icon:focus,
#number-of-images:focus,
.settings-dropdowns:focus,
.image-size:focus,
option:focus,
.mobile:focus,
.desktop:focus {
  outline: none;
}

/* ----- SEARCHBAR END ----- */

/*  ------- ADVANCED FILTER ------ */

.advanced-settings {
  display: flex;
  padding: 0.5rem;
  border-top: 2px solid var(--border);
  width: 100%;
}

.style-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  list-style: none;
  margin-left: 1rem;
}

/* --------COLOR_CODES------- */

.color-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.color {
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
}

#red {
  background-color: #ff2000;
}
#orange {
  background-color: #ff7c00;
}
#pale-pink {
  background-color: #ff9f9c;
}
#lemon-yellow {
  background-color: #fffa00;
}
#bus-yellow {
  background-color: #ffcf00;
}
#green {
  background-color: #90e200;
}
#cyan {
  background-color: #00b2d4;
}
#blue {
  background-color: #0062c6;
}
#violet {
  background-color: #8c20ba;
}
#pink {
  background-color: #f52394;
}
#grey {
  background-color: #7c7c7c;
}
#black {
  background-color: #000000;
}

.style-button,
.color-style {
  border: 2px solid var(--white);
  width: 40px;
  height: 40px;
}
.style-button:hover,
.color-style:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.style-button::after,
.color-style::after {
  border: 2px solid var(--border);
}

.style-button:active,
.color-style:active {
  border: 2px solid var(--border);
}

#black-and-white {
  background-image: url(../img/blackandwhite.jpg);
  background-size: cover;
}

#depth-of-field {
  background-image: url(../img/shallowdepth.jpg);
  background-size: cover;
}
#minimalist {
  background-image: url(../img/minimalism.jpg);
  background-size: cover;
}
#patterns {
  background-image: url(../img/pattern.jpg);
  background-size: cover;
}

/* ----- PAGE SETTINGS ----- */
select {
  cursor: pointer;
}
.page-settings {
  display: flex;
  padding: 0 0.5rem;
  height: 3em;
  background: var(--header);
  letter-spacing: 1px;
  z-index: 2;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.image-size {
  border: none;
  background: var(--select);
  border-bottom: 2px solid var(--border);
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: var(--black);
  font-size: 1rem;
}

.images-per-page {
  background: var(--select);
  border: none;
  border-bottom: 2px solid var(--border);

  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: var(--black);
  font-size: 1rem;
}

.image-styles {
  border: none;
  background: var(--select);
  border-bottom: 2px solid var(--border);
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: var(--black);
  font-size: 1rem;
}

/* options only for desktop mode */
.desktop {
  display: none;
}

.page-section {
  display: flex;
  width: 7rem;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid var(--border);
}

.page-list {
  color: var(--black);
  font-weight: 600;
  font-family: "Lato", sans-serif;
  display: flex;
  list-style: none;
}
.page {
  font-size: 1.1rem;
  margin-right: 0.6rem;
}

.page:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
}

/* --------------------- HEADER END -------------------- */

/* --------------------- GALLLERY --------------------- */
main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 14rem;
}

.gallery {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2rem;
}

/* each div for each url */
.img-container {
  margin: 0.5rem;
}

.gallery-img {
  width: 100%;
  object-fit: contain;
  -webkit-box-shadow: 0px 3px 3px 3px rgba(100, 100, 100);
  -moz-box-shadow: 0px 3px 3px 3px rgba(100, 100, 100);
  box-shadow: 0px 3px 3px 3px rgba(100, 100, 100);
}

/*-------------------- LIGHTBOX -------------------- */

.overlay {
  display: none;
  position: fixed;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.897);
  justify-content: center;
  opacity: 1;
}

.lightbox-img {
  z-index: 2;
  align-self: center;
  max-width: 350px;
  height: auto;
  object-fit: cover;
  position: fixed;
  border: 15px solid var(--white);
}

/* ----- FOOTER ----- */
footer {
  display: flex;
  color: var(--black);
  font-size: 2rem;
  justify-content: center;
  margin-left: 0.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background: var(--background);
  text-align: center;
}

footer i {
  cursor: pointer;
}

.take-me-up {
  cursor: pointer;
}

/*---------- DESKTOP -------- */

@media only screen and (min-width: 700px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: list-item;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 5rem 0 2.5rem 0;
  }

  .input-section {
    width: 50%;
    border-bottom: 2px solid var(--border);
    margin-bottom: 0.5rem;
  }

  .settings {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .advanced-settings {
    border: none;
    justify-content: center;
    align-items: center;
    width: 20%;
  }

  .style-list {
    display: flex;
    justify-content: space-between;
  }

  .color-list {
    border: none;
    justify-content: space-between;
  }

  .style-button,
  .color-style {
    margin: 0.25rem;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(134, 134, 134, 0.75);
    -moz-box-shadow: 0px 10px 10px 0px rgba(134, 134, 134, 0.75);
    box-shadow: 0px 10px 10px 0px rgba(134, 134, 134, 0.75);
  }

  .page-settings {
    display: flex;
    justify-content: space-evenly;
    width: 22.5%;
  }

  .gallery {
    width: 75%;
    padding-top: 8rem;
  }

  .lightbox-img {
    max-width: unset;
  }
}
